@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--main);
  color: var(--mainDark);
  font-family: "Raleway", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

/* vh will always be 100% */
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(225, 158, 9, 0.5), rgba(255, 158, 9, 0.1));
  /* opacity: 1 !important; */
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.footer {
  background-color: var(--mainBrown);
}

.menu {
  background: var(--mainGrey);
}
